langgraph 
langchain_openai 
langchain_community 
langchain-google-vertexai 
langchain-google-genai 
langchain_experimental
poppler-utils
chromadb 
langgraph 
pypdf 
langchain_google_community 
langchain-huggingface
unstructured[pdf] 
streamlit 
sentence-transformers
db-dtypes
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
ipython
pandas
arize-phoenix
opentelemetry-sdk
opentelemetry-exporter-otlp
#openinference-instrumentation-crewai
openinference-instrumentation-langchain
arize-otel 
onnx==1.16.1 
